.add-edit-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--main-border-radius);
  background-color: var(--secondary-color);
  /* justify-self: flex-start; */
  max-width: 50rem;
  padding: 20px;
}

.add-edit-panel-header {
  position: relative;
  top: -1rem;
  font-size: 2.4rem;
  /* color: var(--test-color2); */

  /* margin-bottom: 1rem; */
}
