.card-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 1vh;
  height: 570px;
  width: 100%;
  /* overflow-y: scroll;
  scrollbar-width: none; */
}

.card-list .card {
  flex: 0 0 auto;
}
