.card-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 1vh;
  max-height: 57rem;
  width: 100%;
  overflow-y: scroll;
  /* 
  scrollbar-width: none; */
}

.card-list .card {
  flex: 0 0 auto;
}
