/* .courses-page {
    position: relative;
    z-index: 0;
}*/

.add-course-button {
    display: inline;
    /* position: relative; */
    /* float: right; */
    top: 0px;
    /* right: 50px; */
    left: 250px;
    padding: 2.5px;
    border-radius: 7.5px;
} 