.adminfy-main-nav {
  display: flex;
  position: fixed;
  top: 0%;
  align-items: center;
  justify-content: space-evenly;
  max-height: 8vh;
  min-height: 70px;
  width: 100%;
  background-color: var(--primary-color);
  border-top: 2px solid var(--test-color2);
  border-bottom: 2px solid var(--test-color2);
  margin-bottom: 20px;
  z-index: 1;
}

.adminfy-main-nav-list {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.adminfy-main-nav-hamburger-icon {
  position: relative;
  right: 2.5vw;
  min-width: 55px;
  height: auto;
}

.adminfy-main-nav-hamburger-icon:active {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}

.adminfy-main-nav-logo {
  position: relative;
  left: 2.5vw;
  text-decoration: none;
  color: black;
}