.table-list-page {
  height: calc(90vh - 1px);
  margin-bottom: 1vh;
  padding: 1vmax;
  width: 100%;
  overflow-y: scroll;
}

.table-list-item {
  text-align: center;
  border: 2px solid #1a9bfe;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 20px;
  border-collapse: collapse;
}

.table-list-item td {
  background-color: var(--secondary-color);
}

table-list-item-header {
  background-color: var(--primary-color);
}

.table-list-page-select-label {
  display: inline-block;
  margin-bottom: 10px;
}

.table-list-page-select-label p {
  display: inline-block;
  margin-right: 10px;
}

.table-list-item-img {
  width: 20vw;
  height: auto;
  border: 2px solid black;
}
