.teachers-list {
    text-align: center;
    table-layout: fixed;
    width: 100%;
    max-width: 100%;
}

.teachers-list tr {
    width: 100%;
}

.teachers-list td {
    width: fit-content;
}

.teachers-list-item-img {
    width: 20vw;
    height: auto;
}
