.text-label input {
  /* display: inline-block; */
}

.text-label p {
  /* display: inline-block; */
  /* margin-right: 0.4rem; */
}

.text-input {
  cursor: default;
  display: block;
  padding: 0.2rem 0.8rem;
  min-height: 3rem;
  transition: all 100ms;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 28%, 9%);
  border-radius: var(--main-border-radius);
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
}
